*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    min-height: 100vh;
    
    
    
}
.header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 8px 10px rgba(0, 0, 0, .5);
    height: 20vh;
    
}
.logo{
    color: orangered;
    font-size: 30px;
    padding: 0 20px;
}
.input{
    position: relative;

}
.glass{
    position: absolute;
    top: 13px;
    left: 10px;
    font-size: 18px;
    opacity: .5;
}
.input input{
    width: 300px;
    height: 40px;
    padding: 0 35px;
    border: 2px solid orangered;
    outline: none;
    font-size: 18px;
    border-radius: 35px;
}
.bars{
    display: none;
}
.nav-links{
    display: flex;
    gap: 10px;
}
.nav-links a{
    cursor: pointer;
    margin-right: 7px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
}
.nav-links a:hover{
    color: orangered;
    transition: .5s;
}

#content{
   
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
#product-cards{
    
    position: relative;
    min-width: 300px;
    height: 450px;
    border-radius: 5px ;
    background-color: beige;
    box-shadow: 5px 8px 10px rgba(0, 0, 0, .5);
}
#product-cards:hover{
    cursor: pointer;
    transform:translateY(-10px);
    box-shadow: 0 5px 12px rgba(0, 0, 0, .00);
    transition: .5s;
    
}
.images{
    position: relative;
    margin: 10px;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    width: 300px;
    height: 200px;
    box-shadow: 5px 8px 10px rgba(0, 0, 0, .5);
}
.button-icon{
    border: none;
    outline: none;
    position: absolute;
    background: white;
    color:red;
    font-size: 30px;
    top: 10px;
    right: 10px;
}
.button-icon :hover{
    opacity: 0.5;
}
.img{
    width: 100%;
    height: 100%;
}
.name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    color:black;
    padding: 10px;
    margin: 0 20px;
    
}
.name span{
    color: #fff;
    font-size: 18px;
    padding: 10px;
    background-color:orangered ;
    border-radius: 5px;
    ;
    /*box-shadow: 0px 5px 12px rgba(0, 0, 0, .5);*/
}
.endirim{
    font-size: 22px;
    padding: 10px;
    margin: 0 20px;
}
.price{
    font-size: 20px;
    padding: 10px;
    margin: 0 20px;
}
.button{
    
    cursor: pointer;
    margin:  20px;
    padding: 10px ;
    background-color: rgb(255, 69, 0);
    width: 100px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 10px;
}
.button:hover{
    background-color:rgba(255, 69, 0,0.7);
    box-shadow: 5px 8px 10px rgba(0, 0, 0, .5);
}
@media(max-width:768px){
    .bars{
        display: block;
        padding: 10px;
        font-size: 20px;
    }
    .nav-links{
        display: none;
    }
    .input input{
        width: 150px;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
}
.footer{
    height: 20vh;
    margin-top: 25px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-side{
    color: white;
    flex-basis: 30%;
    padding: 15px;
}
.right-side{
    display: flex;
    flex-basis: 30%;
    gap: 15px;
    padding-right: 10px;
}
.right-side a{
    text-decoration: none;
    color: white;
    
}